<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<div class="container">
  <div class="text-center mt-4">
    <h1 class="h2">Welcome back!
    </h1>
    <p class="lead">
      Sign in to your account to continue
    </p>
  </div>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>

    <button id="downloadCvButton" class="button">
            <span class="ico-circle">
                <i class="fas fa-sign-in-alt"></i>
            </span>
      Sign In
    </button>

  </form>
  <div class="text-center mt-5">
    Don't have an account? <a href="pages-sign-up.html">Sign up</a>
  </div>
</div>

</body>
</html>
