<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Sign Up</title>
</head>
<body>
<div class="mt-5"></div>
<div class="container">
  <div class="text-center">
    <h1 class="h2">Create New Account</h1>
  </div>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="model.name"
        name="name"
        placeholder="Enter your name"
        required>
    </div>
    <div class="form-group">
      <label for="email">Email </label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="model.email"
        name="email"
        placeholder="Enter your email"
        required>
    </div>
    <div class="form-group">
      <label for="password">Passcode</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="model.password"
        name="password"
        placeholder="Enter your passcode"
        required>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="number"
        id="age"
        class="form-control"
        [(ngModel)]="model.age"
        name="age"
        placeholder="Enter your age"
        required>
    </div>

    <button type="submit" class="btn bg-gradient-dark">
      <i class="fas fa-user-plus"></i> Register
    </button>
  </form>

  <div class="footer" >
    Already have an account? <strong><a routerLink="/login" style="color: #0a0a0a">Log In</a></strong>
  </div>
</div>

</body>
</html>
