.toast-icon {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
  vertical-align: middle; /* Alignement vertical */
}

.custom-toast-success {
  background-color: #fff !important;
  color: #28a745;
}

.custom-toast-error {
  background-color: #ffffff !important;
  color: #dc3545;
}

.toast {
  display: flex; /* Utiliser flexbox pour aligner icônes et texte */
  align-items: center; /* Centrer verticalement le contenu */
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
.toast-progress {
  height: 4px; /* Ajustez la hauteur selon vos besoins */
}

.custom-toast-success .toast-progress {
  background-color: #28a745; /* Vert pour le succès */
}

.custom-toast-error .toast-progress {
  background-color: #dc3545; /* Rouge pour l'erreur */
}
