<app-side></app-side>
<main class="main-content position-relative max-height-vh-100 h-100
 border-radius-lg " style="margin-left:240px ">
  <app-nav></app-nav>
  <div class="container-fluid py-2">
    <div *ngIf="error" class="error-message alert alert-danger alert-dismissible fade show" role="alert">
      <span class="text-white">{{ error }}</span>
      <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
              <div class="d-flex justify-content-between">
                <h6 class="text-white text-capitalize ps-3">Transactions table</h6>
                <button (click)="openModal()" class="text-secondary font-weight-bold  border-0 text-xs" style="background: none;" data-toggle="tooltip" data-original-title="Add user" data-toggle="modal" data-target="#addUserModal">
                  <span class="material-symbols-rounded mx-3 text-white">add</span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div *ngIf="loading" class="loading-indicator">
              <div class="loader-circle"></div>
            </div>

            <div *ngIf="!loading && transactions.length === 0" class="text-center py-3">
              <span>Aucune transaction disponible.</span>
            </div>
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Source Account </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">destination Account</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Transaction Type</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Transaction Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">T next Date ?</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of transactions">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ transaction.sourceAccount?.user?.name || 'N/A' }}</span>
                      </td>
                    </div>
                  </td>
                  <td class="align-middle ">
                    <span class="text-secondary text-xs font-weight-bold">{{ transaction.destinationAccount?.user?.name || 'N/A' }}</span>
                  </td>
                  <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{ transaction.amount }}</span>
                  </td>
                  <td class="align-middle text-center">
                      <span
                        [ngClass]="{
                          'text-primary': transaction.type === 'STANDARD',
                          'text-info': transaction.type === 'INSTANT',
                          'text-dark': transaction.type === 'SCHEDULED'
                        }"
                        class="text-xs font-weight-bold">
                        {{ transaction.type }}
                      </span>
                  </td>
                  <td class="align-middle text-center">
                      <span
                        [ngClass]="{
                          'text-warning': transaction.status === 'PENDING',
                          'text-success': transaction.status === 'COMPLETED',
                          'text-danger': transaction.status === 'REJECTED'
                        }"
                        class="text-xs font-weight-bold">
                        {{ transaction.status }}
                      </span>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ transaction.nextExecutionDate }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <button (click)="editTransaction(transaction)" class="text-secondary bg-body border-0 font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      <span class="material-symbols-rounded text-warning">edit</span>
                    </button>
                    <button (click)="transaction.id ? deleteTransaction(transaction.id) : null" class="text-secondary bg-body border-0 font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                      <span class="material-symbols-rounded mx-1 text-danger">delete</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<div *ngIf="showModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="error" class="error-message alert alert-danger alert-dismissible fade show" role="alert">
        <span class="text-white">{{ error }}</span>
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="modal-header">
        <h5 class="modal-title" id="transactionModalLabel">Manage Transaction</h5>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <form (ngSubmit)="saveTransaction(selectedTransaction)">
          <div class="form-group">
            <label for="type">Type</label><span class="required-indicator">*</span>
            <select class="form-control" id="type" [(ngModel)]="selectedTransaction.type" name="type" required>
              <option [value]="TransactionType.STARTED">Standard</option>
              <option [value]="TransactionType.INSTANT">Instant</option>
              <option [value]="TransactionType.SCHEDULED">Scheduled</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label><span class="required-indicator">*</span>
            <input type="number" class="form-control" id="amount" [(ngModel)]="selectedTransaction.amount" name="amount" placeholder="Enter amount" required>
          </div>
          <div class="form-group">
            <label for="status">Status</label><span class="required-indicator">*</span>
            <select class="form-control" id="status" [(ngModel)]="selectedTransaction.status" name="status" required>
              <option [value]="TransactionStatus.PENDING">Pending</option>
              <option [value]="TransactionStatus.COMPLETED">Completed</option>
              <option [value]="TransactionStatus.REJECTED">Rejected</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sourceAccount">Source Account</label><span class="required-indicator">*</span>
            <select class="form-control" id="sourceAccount" [(ngModel)]="selectedTransaction.sourceAccount" name="sourceAccountId" required>
              <option *ngFor="let account of accounts" [ngValue]="account">{{ account.accountNumber }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="destinationAccount">Destination Account</label><span class="required-indicator">*</span>
            <select class="form-control" id="destinationAccount" [(ngModel)]="selectedTransaction.destinationAccount" name="destinationAccountId" required>
              <option *ngFor="let account of accounts" [ngValue]="account">{{ account.accountNumber }}</option>
            </select>
          </div>
          <!-- Champ de date pour la prochaine exécution -->
          <div class="form-group" *ngIf="selectedTransaction.type === TransactionType.SCHEDULED">
            <label for="nextExecutionDate">Next Execution Date</label><span class="required-indicator">*</span>
            <input type="date" class="form-control" id="nextExecutionDate" [(ngModel)]="selectedTransaction.nextExecutionDate" name="nextExecutionDate" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button type="submit" class="btn btn-primary">Save Transaction</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

